.title {
    text-align: center;
}

#result {
    text-align: center;
    border: 2px solid #888;
    background-color: #eee;
}

#item-area {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

#item-area > div {
    width: 24px;
    height: 24px;
    background: blue;
    margin: 5px;
}

#image-container {
    width: 220px;
    height: 100%;
}

.lazy-image {
    width: 200px;
    height: 200px;
}
